/* fontes */
@font-face {
    font-family: 'medium';
    src: url(../font/GeistMono-Regular.otf);
}

@font-face {
    font-family: 'semi-bold';
    src: url(../font/Geist-SemiBold.otf);
}


body {
    font-family: 'semi-bold';
    color: rgb(0, 0, 0);
}

.dropdown {
    display: flex;
    align-items: end;
    justify-content: end;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    border: solid 1px #000000;
    border-radius: 5px;
    min-width: 110px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    transition: all .1s ease-in-out;
   
}

.dropdown-content a:hover {
    background-color: #000000;
    border-radius: 0;
    color: #ffffff;
    
}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropbtn {
    color: rgb(0, 0, 0);
    background: none;
    font-size: 26px;
    border: none;
    cursor: pointer;
}

#container-form {
    height: 800px;

}

.container{
    padding: 100px;
}

/* formulario itens */
.input {
    max-width: 400px;
    width: 50%;
    height: auto;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 10px;
    transition: all .2s ease-in-out;
    font-family: medium;
}

input:focus {
    border: 1px solid #1f1f1f;
}

.select {
    max-width: 200px;
    width: 50%;
    border: 1px solid #484848;
    border-radius: 3px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    font-family: 'semi-bold';
}


.select2 {
    max-width: 400px;
    width: 50%;
    border: 1px solid #484848;
    border-radius: 3px;
    padding: 10px;
    font-family: 'semi-bold';
    display: flex;
    margin-top: -50px;
}

.button {
    border-radius: 5px;
    border: solid 1px #000000;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 15px;
    margin-top: .9em;
    width: 100px;
    transition: all .1s ease-in-out;
    font-family: 'semi-bold';
}

.button:hover {
    color: white;
    background-color: black;

}

.button-nav{
    border-radius: 5px;
    border: solid 1px #000000;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 15px;
    max-width: 150px;
    width: 100%;
    transition: all .1s ease-in-out;
    font-family: 'semi-bold';
}

.button-nav:hover {
    color: white;
    background-color: black;

}

/* titulos */
.title {
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: semi-bold;
    padding: 50px;
    color: #000000;
}

.title2 {
    font-size: 70px;
    font-family: semi-bold;

}

.subtitle {
    font-size: 50px;
    color: rgb(0, 0, 0);
    display: flex;
    font-family: 'medium';
    margin-top: .5em;
}

.nav-title{
    font-size: 45px;
    color: rgb(0, 0, 0);
    display: flex;
    font-family: 'semi-bold';
    margin: 0 auto;
    display: block;
}

/* visualizar produtos */
.item-produto {
    font-size: 60px;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    display: flex;
    font-family: 'medium';
}

.item-produto-quantidade {
    font-size: 30px;
    margin-left: 20px;
    color: rgb(49, 49, 49);
    display: flex;
    font-family: 'medium';
}

.item-produto-descricao {
    font-size: 15px;
    margin-left: 20px;
    color: rgb(73, 73, 73);
    display: flex;
    font-family: 'medium';
}

#item {
    color: #000000;
    border: 1px solid black;
    width: 30em;
    border-radius: 10px;
    padding: 10px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    transition: all .1s ease-in-out;
}

.navflutuante-view{
    border: 1px solid #000000;
    max-width: 100%;
    width: 600px;
    margin: 4rem auto;
    padding: 20px;
    border-radius: 10px;
    justify-content: start;
    gap: 5px;
    align-items: center;
    display: flex;
    
}

.navflutuante-cad{
    border: 1px solid #000000;
    max-width: 100%;
    width: 600px;
    margin: 1rem auto;
    padding: 20px;
    border-radius: 10px;
    justify-content: start;
    gap: 5px;
    align-items: center;
    display: flex;
}

#container-list {
    padding: 100px;
    height: 800px;

}

/* alert */
.alert-produto {
    border: 1px solid #626262;
    background-color: #000000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 18rem;
    font-family: semi-bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all .2s ease-in-out;
    opacity: 0;
}

.alert-quantidade {
    border: 1px solid #626262;
    background-color: #000000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 18rem;
    font-family: semi-bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all .2s ease-in-out;
}

.alert-existe{
    border: 1px solid #626262;
    background-color: #000000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 18rem;
    font-family: semi-bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all .2s ease-in-out;
}

.alert-text {
    font-size: 20px;
    margin: 0 auto;
    margin-right: auto;
}

.alert-delet{
    border: 1px solid #626262;
    background-color: #000000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 18rem;
    font-family: semi-bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all .2s ease-in-out;     
}



/* modal form */
.input-modal {
    max-width: 400px;
    width: 100%;
    height: auto;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 10px;
    transition: all .2s ease-in-out;
    margin: 0 auto;
    display: flex;
    font-family: medium;
}

.area-button-modal {
    padding: 50px;
    justify-content: end;
    display: flex;
}

.subtitle-modal {
    font-family: 'semi-bold';
    font-size: 1.4rem;
    padding: 10px;
    margin-left: 30px;
}

.title-modal {
    font-family: 'semi-bold';
    font-size: 1.4rem;
    margin: 0 auto;


}


.modal-backdrop.show {
    opacity: 0 !important;
    /* Torna o backdrop transparente */

}

.modal-content {
    border: none !important;
    box-shadow: 2px 2px 57px 25px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 57px 25px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 57px 25px rgba(0, 0, 0, 0.2);
}

.nav-title-mobile{
    display: none;
}


.alert-delet{
    font-size: 30px;
    margin: 0 auto;
    
}

/* responsividade celulares recentes */
@media screen and (max-width: 812px) {

    .dropdown:hover .dropdown-content {
        display: block;
        padding: 20px;
    }


    .input {
        width: 100%;
    }


    .title {
        font-size: 50px;
    }

    .title2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;

    }

    .subtitle {
        font-size: 30px;
        margin-top: .5em;
    }


    .select {
        width: 100%;
    }

    .select2 {
        max-width: 400px;
        width: 100%;
        border: 1px solid #484848;
        border-radius: 3px;
        padding: 10px;
        font-family: 'semi-bold';
        display: flex;
        margin-top: -17px;
    }

    .button {
        border-radius: 5px;
        border: solid 1px #000000;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        font-size: 15px;
        margin-top: .9em;
        width: 100px;
        transition: all .1s ease-in-out;
        font-family: 'semi-bold';
    }

    .button:hover {
        color: white;
        background-color: black;

    }


    .fechar {
        border-radius: 5px;
        border: solid 1px #000000;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        font-size: 15px;
        margin-top: .9em;
        width: 100px;
        transition: all .1s ease-in-out;
        font-family: 'semi-bold';
    }

    .fechar:hover {
        color: white;
        background-color: black;

    }


    #container-list {
        padding: 10px;
        height: 800px;
    }



    .deletebutton {
        border-radius: 5px;
        border: solid 1px #000000;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        font-size: 15px;
        margin-top: .9em;
        width: 100px;
        transition: all .1s ease-in-out;
        font-family: 'semi-bold';
    }

    .deletebutton:hover {
        color: white;
        background-color: black;

    }

    .item-produto {
        font-size: 50px;
        margin-left: 20px;
        color: rgb(0, 0, 0);
        display: flex;
        font-family: 'medium';
    }

    .item-produto-quantidade {
        font-size: 25px;
        margin-left: 20px;
        color: rgb(49, 49, 49);
        display: flex;
        font-family: 'medium';
    }

    .item-produto-descricao {
        font-size: 20px;
        margin-left: 20px;
        display: flex;
    }

    #item {
        width: 23em;
        padding: 5px;
        margin: 1rem auto;
    }

    .alert-produto {
        top: 20px;
        left: 50%;
        margin: 0 auto;
        transform: translateX(-50%);
        height: 50px;
        transition: all .2s ease-in-out;
        opacity: 0;
    }

    .alert-quantidade {
        top: 20px;
        left: 50%;
        margin: 0 auto;
        transform: translateX(-50%);
        height: 50px;
        transition: all .2s ease-in-out;
        opacity: 0;
    }

    .alert-text {
        font-size: 20px;
        margin: 0 auto;
        margin-right: auto;

    }


    .alert-existe {
        top: 20px;
        left: 50%;
        margin: 0 auto;
        transform: translateX(-50%);
        height: 50px;
        transition: all .2s ease-in-out;
        opacity: 0;
    }


    .nav-title{
        display: none;
    }

    .navflutuante-view{
        justify-content: center;
    }

    .container{
        padding: 10px;
    }

    .nav-title-mobile{
        display: none;
    }

    .nav-title-mobile{
        display: block;
        margin: 0 auto;
        font-family: semi-bold;
    }

}

/* celular menor */
@media screen and (max-width: 360px) {

    #item {
        width: 21em;
        padding: 5px;
        margin-top: 1em;
        margin-bottom: 10px;
        margin: 0 auto;

    }

    .dropdown:hover .dropdown-content {
        display: block;
        padding: 20px;
    }

    .title-nav{
        display: none;
    }

    .navflutuante-view{
        justify-content: center;
        
    }

    .container{
        padding: 100px;
    }

    .nav-title-mobile{
        display: block;
    }

}